<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <script>
        Stripe.setPublishableKey('#{Rails.application.secrets.stripe_publishable_key}');
  </script>

    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <!-- phone number -->
      <%= f.label :born_on, "Mobile Number" %>
      <%= f.telephone_field(:email, placeholder: 'Phone Number', class: 'form-control') %> 

      <%= f.label :born_on, "Date of Birth" %>
      <%= f.date_field(:email, class: 'form-control') %>      
      <!-- gender -->
      <%= f.label :team, "Gender" %><br>
      <%= f.radio_button(:team, 'Male', class: 'radio-inline') %>
      <%= f.label :team, "Male" %><br>
      <%= f.radio_button(:team, 'Female', class: 'radio-inline') %>
      <%= f.label :team, "Female" %><br>

      <hr>

      <!-- Address -->
      <%= f.label :email, 'Address' %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Address 1' %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Address 2' %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Postal Code' %>
      
      <!-- Country -->
      <%= f.label :email, 'Country of Residence' %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Country' %>

      <!-- Nationality -->
      <%= f.label :email, 'Nationality' %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Nationality' %>
      <hr>

      <!-- Emergency contact name -->
      <%= f.label :name, 'Emergency Contact Name' %>
      <%= f.text_field :name, class: 'form-control' %>

      <!-- Emergency contact number -->
      <%= f.label :name, 'Emergency Contact Number' %>
      <%= f.telephone_field :name, class: 'form-control' %>

      <!-- Medical Condition -->
      <%= f.label :team, "Any medical condition or medical treatment in the last 12 months?" %><br>
      <%= f.radio_button(:team, 'Male', class: 'radio-inline') %>
      <%= f.label :team, "Yes" %><br>
      <%= f.radio_button(:team, 'Female', class: 'radio-inline') %>
      <%= f.label :team, "No" %><br>

      <!-- Shirt size -->
      <%= f.label :team, "Singlet Size" %>
      <%= f.select(:team, options_for_select([
        ['XXS', 0], ['XS', 1], ['S', 2], ['M', 3], ['L', 4], ['XL', 5], ['XXL', 6]]), class: 'form-control')%>

      <!-- Socks size -->
      <%= f.label :team, "Full Socks V2 Size (If applicable):" %>
      <%= f.select(:team, options_for_select([
        ['1S', 0], ['1M', 1], ['2M', 2], ['2L', 3], ['3M', 4], ['3L', 5], ['4M', 6], ['4L', 7], ['5M', 8], ['5L', 9], ['5XL', 10]]), class: 'form-control')%>

      <!-- Emergency contact name -->
      <%= f.label :name, 'Name to appear on Race Bib (Maximum of 9 alphabets, no spacing allowed)' %>
      <%= f.text_field :name, class: 'form-control' %>

      <!-- team -->
      <%= f.label :team, "Who will you pledge your Loyalty to?" %><br>
      
      <%= f.radio_button(:team, 'Alien', class: 'radio-inline') %>
      <%= f.label :team, "Alien" %><br>
      <%= f.radio_button(:team, 'Human', class: 'radio-inline') %>
      <%= f.label :team, "Commando" %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= label_tag "Card Number", nil, required: true %>
  <div class="control-group">
    <div class="controls">
      <%= text_field_tag :card_number, nil, class: "input-block-level", "data-stripe" => "number" %>
    </div>
  </div>
  <%= label_tag "Card Verification", nil, required: true %>
  <div class="control-group">
    <div class="controls">
      <%= text_field_tag :card_verification, nil, class: "input-block-level", "data-stripe" => "cvv" %>
    </div>
  </div>
  <%= label_tag "Card Expires", nil, required: true %>
  <%= select_tag :exp_month, options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |name,i| ["#{i+1} - #{name}", i+1] }), include_blank: false, "data-stripe" => "exp-month", class: "span2" %>
  <%= select_tag :exp_year, options_for_select((Date.today.year..(Date.today.year+10)).to_a), include_blank: false, "data-stripe" => "exp-year", class: "span1" %>


      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>